*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: inherit;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none !important;
}

body {
  margin: 0;
  font-family: "Raleway" !important;
  overflow: overlay;
}

body.hide-overflow {
  overflow: hidden;
}

#root{
  position: relative;
  min-height: 100%;
  min-width: 320px;
  background-color: #f5f5f5;
}

.agendalo-blue {
  background-color: #194973 !important;
}

.our-green{
  background-color: rgb(0,201,211) !important;
}

.subscribe {
  background-color: rgb(0,201,211) !important;
  color: #194973 !important;
}

.col-space > *{
  margin-bottom: 10px !important;
}

.ant-carousel .slick-slide {
  text-align: center;
  background: #364d79;
  overflow: hidden;
  
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.ant-carousel .slick-slider{
  margin-left: 10px;
  margin-right: 10px;
}

.ui.segment{
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
}

.fade-enter:not(.no-trans) {
  opacity: 0;
  z-index: 1;
  transform: translate(20px);
}

.fade-enter.fade-enter-active:not(.no-trans) {
  opacity: 1;
  transition: all 300ms ease;
  transform: translate(0)
}
